.cabeçalho {
    display: flex;
    justify-content: center;
    background-color: #393053;
    margin: 0;
    padding: 100px 50px;
}
.cabeçalho-título {
    font-size: 100px;
    color: #D27685;
}
.cabeçalho-título2 {
    color:#D27685 ;
}
.cabeçalho-lista {
    color: aliceblue;
}

.cabeçalho-imagem {
    width: 140px;
}